.countryListWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pageTitle {
  text-align: center;
}
.countryListSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.country {
  display: flex;
  flex-direction: column;
  height: 10rem;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100px;
  text-decoration: none;
  color: #3f84d5;
}

.countryFlag {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: fill;
}